{% extends 'base.html' %}
{% load extend_filters %}
{% block title %}
  Карточка {{ object.name }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card w-75 mx-auto text-center border-secondary-subtle">
        {% if user.is_staff or user.is_superuser%}
{#          <a href="{% url 'bnovo:sauna_edit' object.pk %}" style="text-decoration: #}
{#          #1a1d20">#}
          <h4 class="card-header bg-success-subtle">Карта гостя</h4>
        </a>
          {% else %}
          <h4 class="card-header bg-success-subtle">Карта гостя</h4>
        {% endif %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ object.customer.name }}</li>
          <li class="list-group-item">{{ object.customer.phone }}</li>
          <li class="list-group-item">Дата: {{ sauna.date|date }}</li>
          <li class="list-group-item">Начало: {{ sauna.start_time }}</li>
          <li class="list-group-item">Конец: {{ sauna.end_time }}</li>
          {% if rotenburo %}
            <li class="list-group-item">Ротенбуро: c 
              {{ rotenburo.start_time }} до {{ rotenburo.end_time }}
            </li>
          {% else %}
            <li class="list-group-item">Ротенбуро - не надо.</li>
          {% endif %}
        {% for item in accessories %}
          {% if item.quantity|str_to_int > 0 %}
          	<li class="list-group-item fst-italic">
              {{ item.product }} - {{ item.quantity }}
            </li>
          {% endif %} 
        	
        {% endfor %}
        </ul>
        <a href="{% url 'bnovo:today_list' %}" style="text-decoration: 
          #1a1d20">
          <h4 class="card-footer ">Вернуться к ордерам</h4>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

