{% if messages %}
  <div class="container class_form bg-gradient bg-opacity-50 bg-body col-lg-6
    border rounded">
    <ul class="messages">
      {% for message in messages %}
        <li class="text-danger" {% if message.tags %} class=
                "{{ message.tags }}"{% endif %}
        >{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  {% if rotenburo_times%}
    <a href="{% url 'add_rotenburo' appointment.pk %}">
    {% elif bath_times %}
    <a href="{% url 'create_appointment' day user_id %}">
  {% endif %}
    <button class="btn mt-3 btn-success" style="float: right"
            type="submit">
      Заказать
    </button>
  </a>
{% endif %}